@import "../../style.scss";


.Home{

    @include themify($themes){
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: themed("bg");

        @include mobile{
            padding: 0px;
        }

        @include laptop{
            flex: none;
            padding: 0px;
         }
    
    }


}