@import "../../style.scss";


.Feeds{

    @include themify($themes){
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: themed("bg");
        .requestPoet{
            font-size: 20px;
            cursor: pointer;
            color: solid lightgray;
            margin-top: 20px;
        }
        .postContent{
            .request h2{
                font-size: 20px;
                color: solid lightgray;
                cursor: pointer;
                margin-top: 20px;
            }
        }

    }


}