@import "../../style.scss";


.rightbar{

    @include themify($themes){

    // flex: 3;
    width: 25%;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    @include mobile{
        display: none;
    }

    &::-webkit-scrollbar{
        display: none;
    }

.container{
    padding: 0px 0px;
    width: 100%;
    
    .item{
        -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
        box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
            padding: 20px;
            margin-top: 20px;
            background-color: themed("bg");

        span{
            color: themed("textColor");
            }
        .user{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0px;
            .userinfo{
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    width: 40ox;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                userName{
                    color: themed("textColor");
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .ranking{
                display: flex;
                align-items: center;
                color: themed("textColor");

            }
            
        }
    }
}
}
}